h1{
    font-size: 30px;
}

.blue{
    color: blue;
}

#purple{
    color: purple;
}

#red{
    color: red;
}

.alignleft{
    text-align: left;
}

.alignright{
    text-align: right;
    font-size: 25;
    background-color: blanchedalmond;
}

.aligncenter{
    text-align: center;
}

.white{
    color: white;
}

.blackbackground{
    background-color: black;
}